@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav{
	width: 100%;
	background:	 rgba(0,0,0,.5);
	padding: 0 50px;
	box-sizing: border-box;
}
nav h1{
	margin: 0;
	padding: 15px 20px;
	float: left;
	
	
}
nav h1 a{
	color: #fff;
	text-decoration: none;
}
nav ul{
	margin: 0;
	padding: 0;
	float: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	padding: 20px 30px;
	transition: .5s;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
}
nav ul li:hover{
	background:#993333;
}
.responsive-bar{
	width: 100%;
	background: rgba(0,0,0,.5);
	padding: 10px 30px;
	box-sizing: border-box;
	display: none;
}
.responsive-bar h3{
	margin: 0;
	padding: 3px 0;
	color: #fff;
	float: left;
	
}
.responsive-bar h3 a{
	color: #fff;
	text-decoration: none;
	
}
.responsive-bar h4{
	margin: 0;
	padding: 0;
	color: #fff;
	float: right;
	padding: 5px 10px;
	background: #993333; 
	text-transform: uppercase;
	cursor: pointer;
}
@media (max-width: 1070px){
	nav{
		display: none;
		padding: 0;
	}
	.responsive-bar{
		display: block;
	}
	nav h1{
		display: block;
		float: none;
		
	}
	nav ul{
		float: none;
	
	}
	nav ul li{
		display: block;
		text-align: center;
		background: rgba(0,0,0,.5);
		padding: 15px 20px;
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	h1.brand{
		display: none;
	}
}
.contentFirst{

	margin: 0;
	z-index: -1;
}


.contentFirst p{
	margin-top: 0;
	text-align: left;
	color: #101010;
	font-weight: 400;
}
.overlay-2{
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100vh;
	background: #48a9a6;
}
.overlay{
	z-index: 100;
	position: absolute;
	width: 100%;
	height: 100vh;
	background-image: url(image/firstimage.jpg);
	background-size: cover;
}
overlay p{
	font-size:300px;
	font-weight:  800;
}
.screen{
	display: block;
	text-align: center;
	color: #FFFFFF;
	font-size: 50px;
/*	position: absolute;*/
	top: 8%;
	text-align: content;
/*	transform: translate(-50%, -50%);*/ 
}
.myBtn{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}
button{
	display: block;
	padding: 24px 48px;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 6px;
	color: #fff;
	border: 2px solid #fff;
	text-transform: uppercase;
	outline: none;
	overflow:hidden;
	background: none;
	z-index: 1;
	transition: 0.8s ease-out;
	cursor: pointer;
}
.myBtn:hover{
	color: #101010;
	cursor: pointer;
}
.myBtn:before{
	content: "";
	position: absolute;
	background: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	top: 100%;
	z-index: -1;
	transition: top 0.8s ease-out;
}
.myBtn:hover:before{
	top: 0;
}



h2{
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	padding: 0.4em .5em;
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);	
}

.rev-block {
	position: absolute;
}
.rev-block span{
	opacity: 0;
	animation: appear-text 0.0001s linear forwards;
	animation-delay: 1.4s;
}
.rev-block:after{
	content: '';
	top: 0;
	left: 0;
	position: absolute;
	width: 0%;
	height: 100%;
	background: #00f0b5;
	animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation-delay: 1s;
}

@keyframes rev-block{
	0%{
		left: 0;
		width: 0%;
	}
	50%{
		left: 0;
		width: 100%;
	}
	100%{
		left: 100%;
		width: 0%;
	}
}
@keyframes appear-text{
	0%{
		opacity:  0;
	}
	100%{
		opacity: 1;
	}
}
#onemore{
	top: 40%;
	left: 45%;
	font-size: 25px;
}
#onemore span{
	animation-delay: 2s;
}
#onemore.rev-block:after {
	background: #5e239d;
	animation-delay: 1.4s;
}
#onemore1{
	top: 50%;
	left: 55%;
	font-size: 25px;
}
#onemore1 span{
	animation-delay: 2s;
}
#onemore1.rev-block:after {
	background: #993333;
	animation-delay: 1.8s;
}

@media (max-width: 1070px){
	h2{
	font-size: 30px;
}
	#onemore{
	font-size: 20px;
}
#onemore1{
	font-size: 20px;
}
}
@media (max-width: 720px){
	h2{
	font-size: 25px;
	}
}
@media (max-width: 640px){
	h2{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 1em .5em;
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);	
}
	#onemore{
	top: 40%;
	left: 45%;
	font-size: 15px;
}
#onemore span{
	animation-delay: 2s;
}
#onemore.rev-block:after {
	background: #5e239d;
	animation-delay: 1.4s;
}
#onemore1{
	top: 50%;
	left: 55%;
	font-size: 15px;
}
#onemore1 span{
	animation-delay: 2s;
}
#onemore1.rev-block:after {
	background: #993333;
	animation-delay: 1.8s;
}
	.screen{
	font-size: 30px;
	top: 20%;

}
}
